.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
nav {
  /* width: 250px; */
  padding: 5px;
  height: 100%;
  border-style: double;
  border-width: thin;
  border-color: gray;
  align-self: left;
  /* add a scroll bar */
  overflow: scroll;
}
.main-doc {
  padding: 5px;
}
header {
  text-align: center;
  font-size: 25px;
}
nav li {
  /* remove list style  */
  list-style: none;
  /* make it relative */
  position: relative;
  /* offset to left auto padding of 40px */
  left: -40px;
  /* add a padding of 25 */
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 25px;
}
nav li::before {
  content: "»";
  color: red;
}
.example-code {
  background-color: rgb(238, 234, 234);
  /* font-size: 10px; */
}
